$color-blue: #03A9F4
$color-pink: #E91E63
$color-dark: #263238
$color-light: #dbe9ef
$color-orange: #F57F17
$box-shadow: 1px 1px 16px -4px $color-dark


*,
*::after,
*::before
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-family: 'Roboto Slab', serif
    
*[hidden]
    display: none !important

canvas
    display: block
    margin: 0 auto

#canvas
    background: linear-gradient(#e9f4f9 0%, #cbdbe2 100%)


.ui-bar
    margin: 0 auto
    display: flex
    align-items: center
    padding: 10px 15px
    font-size: 58px
    line-height: 1
    color: $color-blue
    background: $color-dark
    font-weight: 700

    &__title
        margin-right: auto

    &__details
        font-size: 20px
        height: 50px
        display: flex
        flex-direction: column
        justify-content: space-between

        .fa
            margin-right: 5px

    &__points
        color: $color-orange
        font-weight: normal

    &__lives
        color: $color-pink

    &__level
        margin-left: 30px

.alert-box
    position: absolute
    padding: 10px
    background: $color-dark
    color: $color-light
    border-radius: 16px
    left: 50%
    transform: translateX(-50%)
    top: 240px
    box-shadow: $box-shadow
    font-size: 24px
    text-align: center
    border: 5px solid $color-light

    &__header
        font-size: 30px
        margin: 0 10px

    &__body
        margin: 20px 0

    &__footer
        text-align: right

        button
            font: inherit
            padding: 4px 12px
            border: none
            border-radius: 6px
            font-size: 18px
            text-transform: uppercase
            background-color: $color-pink
            color: white
            letter-spacing: 1px

            &:hover
                cursor: pointer
                background-color: darken($color-pink, 10%)
            
.pause
    position: absolute
    display: block
    width: 50px
    top: 340px
    left: 50%
    transform: translateX(-50%)
    
    &::before,
    &::after
        content: ""
        display: block
        width: 20px
        height: 50px
        background: $color-pink
        box-shadow: 1px 1px 16px -4px #000
    
    &::before
        float: left
    &::after
        float: right
    
.hints
    margin: 0 auto
    color: lighten($color-dark, 40%)



