*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto Slab", serif; }

canvas {
  display: block;
  margin: 0 auto; }

#canvas {
  background: -webkit-linear-gradient(#e9f4f9 0%, #cbdbe2 100%);
  background: linear-gradient(#e9f4f9 0%, #cbdbe2 100%); }

.ui-bar {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 15px;
  font-size: 58px;
  line-height: 1;
  color: #03A9F4;
  background: #263238;
  font-weight: 700; }
  .ui-bar__title {
    margin-right: auto; }
  .ui-bar__details {
    font-size: 20px;
    height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .ui-bar__details .fa {
      margin-right: 5px; }
  .ui-bar__points {
    color: #F57F17;
    font-weight: normal; }
  .ui-bar__lives {
    color: #E91E63; }
  .ui-bar__level {
    margin-left: 30px; }
